[*.cs]

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = none

# CA1010: Collections should implement generic interface
dotnet_diagnostic.CA1010.severity = none

# CA1710: Identifiers should have correct suffix
dotnet_diagnostic.CA1710.severity = silent
